.link__popover {
	border-color: rgb(71, 71, 73);
}

.code-collapse__wrapper {
    padding-left: 12.5px !important;
    padding-right: 12.5px !important;
}

.list__item {
    margin-top: 15px !important;
}

.article__list.list._decimal {
    margin-top: 15px !important;
}

.article__list.list._bullet {
    margin-top: 15px !important;
}
